.postList {
  max-width: 1440px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
  gap: 20px;
  padding: 0 15px;
}
.postListItem {
  padding: 15px;
  border: 1px solid black;
  border-radius: 7px;
}
.itemTitle {
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 22px;
}
.itemId {
  margin-bottom: 12px;
  font-size: 14px;
}
.itemBody {
  font-size: 16px;
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  position: fixed;
  right: 25px;
  top: 25px;
}
.loader:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #0138ff;
  border-color: #0000fb transparent #0008fa transparent;
  animation: loader 1.2s infinite;
}

.navLink {
  display: inline-flex;
  padding: 20px;
  min-width: 100px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: transparent;
  font-weight: 500;
  border-radius: 7px;
  color: inherit;
  text-decoration: none;
  transition: all .3s;
}
.active {
  background-color: black;
  color: white;
}

@keyframes loader {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
